// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Figma Colours

// $redDark: #d60a3d;
$black: #080808;
$bright: #F4F4F4;
// $winnerRed: #f33363;
$winnerBlue: #044982;
$blueDark: #001A37;

$redDark: #b40529;
$winnerRed: #e22932;

$grey: #EBE6E6;
$lightGreen: #93B5B3;
$lightGrey: #AAAAAA;
$orange: #FF896B;
$skin: #E8D4B4;

$orange45: rgba(255,137,107,0.45);
$black75: rgba(0,0,0,0.45);
$black65: rgba(0,0,0,0.65);
$black55: rgba(0,0,0,0.55);
$black45: rgba(0,0,0,0.45);
$black35: rgba(0,0,0,0.35);
$black30: rgba(0,0,0,0.3);
$black25: rgba(0,0,0,0.25);
$black15: rgba(0,0,0,0.15);
$black10: rgba(0,0,0,0.1);
$black05: rgba(0,0,0,0.05);
$black03: rgba(0,0,0,0.03);
