<div class="app_cont">

  <div class="fixed_img_bg">
    <%= image_tag("pictures/graduation_ie_group_pic.jpg") %>
  </div>

  <div class="content_cont">

    <div class="title">
      <h1>Education</h1>
    </div>

    <div class="newspaper">

      <div class="head">

        <div class="headerobjectswrapper">

          <header>Academic Background</header>

        </div>


        <div class="subhead">
          Digital Business Management, Web Development and International Affairs
        </div>

      </div>

      <div class="content">

        <div class="collumns">

          <div class="collumn set_bottom_border">

            <div class="head">

              <span class="headline hl3">
                IE Business School
              </span>

              <p>
                <span class="headline hl4">
                  Master in Management
                </span>
              </p>

              <span class="headline">
                Digital Business Management Minor
              </span>

            </div>

            <figure class="figure">
              <%= image_tag("logos/ie_logo.svg", class: "newspaper_img") %>
              <figcaption class="figcaption">"Reinventing Higher Education."</figcaption>
            </figure>

            <p>
              I graduated from <strong>Vesalius College</strong> in 2018 and left for Spain to follow a <strong>Master in Management</strong> degree, with
              a <strong>specialization in Digital Business Management</strong> from the prestigious <strong>IE Business School</strong> in Madrid.
            </p>

          </div>

          <div class="collumn">

            <div class="head">

              <span class="headline hl3">
                Le Wagon, Brussels
              </span>

              <p>
                <span class="headline hl4">
                  Full-Stack Web Developer Certificate
                </span>
              </p>

            </div>

            <br><br>

            <figure class="figure">
              <%= image_tag("logos/le_wagon_logo.png", class: "newspaper_img") %>
              <figcaption class="figcaption">"Change your life, learn to code."</figcaption>
            </figure>


            <p>
              Discovering myself a <strong>passion for the Digital Sphere</strong>, I then decided to obtain a
              certification in Web Development from <strong>Le Wagon Brussels</strong>, in order to <em>merge my love for
              Economics to my passion for the Digital World</em>, with a long term target to become <em>best suited
              for Managing Developers</em> in any sector of the Market.
            </p>

            <!-- <span class="citation">
              "Don't under&shy;estimate the Force. I suggest you try it again, Luke."
            </span> -->

          </div>

          <div class="collumn" id="unset_border">

            <div class="head">

              <span class="headline hl3">
                Vesalius College
              </span>

              <p>
                <span class="headline hl4">
                  Bachelor of Arts in International Affairs
                </span>
              </p>

              <span class="headline">
                Specialisation in Economics
              </span>

            </div>

            <figure class="figure">
              <%= image_tag("logos/vesalius_logo.jpeg", class: "newspaper_img") %>
              <figcaption class="figcaption">"Global Education in the Heart of Europe."</figcaption>
            </figure>

            <p>
              Upon graduation from a <strong>French Baccalaureate</strong> in the Ile de France region, next to Paris city,
              I arrived in Brussels in 2015 to follow a <strong>Bachelors of Arts in International Affairs</strong>
              with a focus on Economics at <strong>Vesalius College</strong>.
            </p>

          </div>

        </div>

      </div>

    </div>

    <!-- <div class="intro_newspaper">

      <div class="left_column">

        <div class="info_image">
          <%#= show_svg("logos/ie_logo.svg") %>
        </div>

        <div class="info_txt">
          <p>
            Graduated from a <strong>French Baccalaureate</strong> in the Ile de France region, next to Paris city,
            I arrived in Brussels in 2015 to follow a <strong>Bachelors of Arts in International Affairs</strong>
            with a <strong>focus on Economics</strong>.
          </p>
        </div>

        <div class="info_image">
          <%#= image_tag("logos/vesalius_logo.jpeg") %>
        </div>

        <div class="info_txt">
          <p>
            I graduated from <strong>Vesalius College</strong> in 2018 and left for Spain to follow a <strong>Master in Management</strong> degree, with
            a <strong>specialization in Digital Business Management</strong> from the prestigious <strong>IE Business School</strong> in Madrid.
          </p>
        </div>

      </div>

      <div class="newspaper_sep_line"></div>

      <div class="right_column">

        <div class="info_image">
          <%#= image_tag("logos/le_wagon_logo.png") %>
        </div>

        <div class="info_txt">
          <p>
            Discovering myself a <strong>passion for the Digital Sphere</strong>, I then decided to obtain a
            certification in Web Development from <strong>Le Wagon Brussels</strong>, in order to <em>merge my love for
            Economics to my passion for the Digital World</em>, with a long term target to become <em>best suited
            for Developers Management</em> in any sector of the Market.
          </p>
        </div>

      </div>
    </div> -->
  </div>
</div>
