<div class="home_cont">
  <div class="bg_pic_home">
    <%= image_tag("pictures/psg.jpg", alt: 'Me, my Favorite Jersey and Nature') %>
  </div>
  <div class="bg_text_home">
    <div class="white_lining"></div>
    <h1>István Lázár</h1>
    <h2><em>Hey, I'm</em></h2>
  </div>
</div>
